Specify for a variety of authentication mechanisms

The spec speaks of "credentials" but has more been tried than the username / password model that the entire authentication world wants to get away from?

The strict reliance on bearer tokens gives me the feeling that no desires exist to join this useful movement.  Note that these tokens are so incredibly weakly protected that they can only run over TLS -- and leave your security at the mercy of the browser's HTML environment, which has a track record of playing tricks on its users as a result of its flexible/pluggable nature.  The problem being that these tokens grant permissions by just being shown -- they act like passwords.

There are more potent authentication mechanisms that would simplify the use of RemoteStorage and at the same time improve security, by performing authentication in the context outside the webpages' HTML and JavaScript:
- X.509 client certificates (and some day, thanks to RFC 6091, OpenPGP keys)
- Kerberos Single Sign-on through the HTTP Negotiate method (RFC 4559) wraps GSSAPI exchanges into base64 encoded headers -- which is almost omnipresent.
- Secure Remote Passwords (RFC 5054 puts it in TLS, but it is available in more places)

Please, do not constrain the specification to just a single form of authentication, and test if it can do the other mechanisms as well.  If pragmatic choices have to be made to get work done, then please keep the specification as general as possible -- and provide a versioned JavaScript library to implement the subset that you can currently handle, and prepare for adding these other mechanisms.

The web is held back by people sticking to the lowest common denominator, and RemoteStorage is such a powerful idea that it could make a really loud call for proper authentication integration with browsers / users.
